body {
  font-family: “Poppins”, sans-serif !important;
}
.sidebar .sidebar-wrapper{
	height: 93vh;
}
.wrapper{
  height: auto;
  margin-left: 0;
  margin-right: 0;
  background: #212120;
}
.sidebar .nav p, .off-canvas-sidebar .nav p{
  text-transform: capitalize;
}
.main-panel{

}
.btn-fill{
  background-color: #c44741 !important;
  border-color: #c44741;
}
.content .table thead{
  background: #212120;
  color: white;
  padding: 12px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  padding: 14px;
}
/*Dashboard Home Page*/
.box-grid-row .col-lg-4 .cards{
	height: 240px;
}
.box-grid-row .col-lg-4 .cards .content {
    padding: 5rem 15px 10px 15px;
}
.box-grid-row .col-lg-4 .cards .content a:hover{
  color: white;
}
.box-grid-row .col-lg-4 .cards .numbers{
	text-align: center;
  padding-top: 1rem;
  font-size: 1.8em;
}
.usage-card .progress{
  height: 10px;
}
/*Media Query*/
@media(max-width: 768px){
	.main-row{
		margin-left: 0;
		margin-right: 0;
	}
}
/*Header*/
.navbar-nav > li > .dropdown-menu, .dropdown .dropdown-menu {
    transform: translate3d(-80px, -3px, 1px) !important;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.3s ease 0s, height 0s linear 0.35s;
}
.navbar {
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0;
}

.header-inner {
    width: 100%;
    /*position: relative;*/
    z-index: 999;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.06);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: a;
}

.top-line {
    padding: 10px 0;
    background: #666;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    overflow: hidden;
    width: 100%;
}

.top-line p,
.top-line a {
    color: #ffffff;
    margin: 0;
}

.top-line p span {
    margin-right: 20px;
}

.top-line p span i {
    font-size: 13px;
    color: #fff;
    margin-right: 10px;
}

.top-line ul.social-icons {
    margin: 0;
    padding: 0;
    text-align: right;
}

.top-line ul.social-icons li {
    display: inline-block;
    margin-left: 9px;
}

.top-line ul.social-icons li a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    font-size: 14px;
    color: #ffffff;
}

.top-line ul.social-icons li a:hover {
    color: #ffba00;
}

header.active .top-line {
    height: 0;
    padding: 0;
}

/*** Brand logo ***/

.brand {
    width: 200px;
    height: 90px;
}

.brand a {
    display: block
}

.brand,
.header-inner .main-nav {
    display: table-cell;
    vertical-align: middle;
}

/*** Main Nav Menu ***/
.main-nav {
    text-align: right;
    white-space: nowrap;
    padding: 0 0 0 30px;
    width: 100%;
}

.sf-menu,
.sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav .sf-menu li {
    position: relative;
}

.main-nav .sf-menu li:hover,
.sf-menu li.sfHover {
    -webkit-transition: none;
    transition: none;
}

.main-nav .sf-menu li a {
    color: #666;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;
    padding: 0 15px;
    position: relative;
    text-transform: capitalize;
}
.main-nav .sf-menu .show{
  display: inline-block !important;
}
.main-nav .sf-menu .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.main-nav .sf-menu li.current a {
    color: #c44741;
}

.main-nav .sf-menu li.current ul a {
    color: #c44741;
}

.main-nav .sf-menu li ul li.current a {
    color: #c44741;
}

.main-nav .sf-menu ul {
    background-color: #fff;
    position: absolute;
    z-index: 6000;
    display: none;
    min-width: 12em;
    /* allow long menu items to determine submenu width */
    *width: 12em;
    /* no auto sub width for IE7, see white-space comment below */
    top: 99%;
    left: 0;
    z-index: 99;
    margin: 1px 0;
    padding: 0;
    border-top: solid 2px #c44741 !important;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
}

.main-nav .sf-menu>li {
    display: inline-block;
}

.main-nav .sf-menu li:hover>ul,
.main-nav .sf-menu li.sfHover>ul {
    display: block;
}

.main-nav .sf-menu a {
    display: block;
    position: relative;
}

.main-nav .sf-menu a:hover {
    color: #10C5A7 !important;
}

.main-nav .sf-menu ul li {
    width: 180px;
    background: #fff;
    text-align: left;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}

.main-nav .sf-menu ul li a {
    padding: 10px 15px;
    font-size: 13px;
}

.main-nav .sf-menu ul ul {
    top: 0;
    left: 100%;
}

.main-nav .sf-menu ul ul li {
    background: #fff;
    border-left: solid 1px #eee;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
    padding-right: 2.5em;
    *padding-right: 1em;
    /* no CSS arrows for IE7 (lack pseudo-elements) */
}

.sf-arrows>li>.sf-with-ul:focus:after,
.sf-arrows>li:hover>.sf-with-ul:after,
.sf-arrows>.sfHover>.sf-with-ul:after {
    border-top-color: white;
    /* IE8 fallback colour */
}

.sf-arrows ul li>.sf-with-ul:focus:after,
.sf-arrows ul li:hover>.sf-with-ul:after,
.sf-arrows ul .sfHover>.sf-with-ul:after {
    border-left-color: #999;
}

.header-inner #toggle-btn {
    cursor: pointer;
    font-size: 17px;
    height: 45px;
    line-height: 45px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 20px;
    width: 45px;
}

.header-inner .toggle-subarrow {
    display: none;
}

@media (min-width: 768px) {
    .header-inner #toggle-btn {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        display: block;
    }

    .navbar {
        max-height: none;
    }

    .main-nav {
        margin-top: 10px;
        height: auto;
    }

    .sf-menu>li {
        float: none;
    }

    .sf-menu li a {
        padding: 10px 13px;
        font-weight: 400;
    }

    .sf-menu li a:hover,
    .sf-menu li.sfHover a:hover {
        color: #c44741;
    }

    .sf-menu ul {
        font-size: 14px;
        display: block;
        position: static !important;
        border: 0;
        box-shadow: 0 0 0 0;
        -moz-box-shadow: 0 0 0 0;
        -webkit-box-shadow: 0 0 0 0;
    }
}

@media only screen and (max-width: 768px) {
    .header-inner .main-nav {
        display: block;
        margin: 0;
    }

    #toggle-btn {
        display: block;
    }

    .toggle-subarrow {
        display: block !important;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        width: 45px;
        height: 42px;
        border-left: 1px solid #e8e8e8;
        text-align: center;
        color: #777;
    }

    .toggle-subarrow .fa {
        margin-top: 14px;
    }

    .main-nav {
        text-align: left;
        white-space: nowrap;
        padding: 0;
    }

    .sf-menu {
        display: none;
    }

    .main-nav .sf-menu {
        margin: 0 -15px;
    }

    .main-nav .sf-menu>li {
        font-size: 13px;
        line-height: 16px;
        display: block;
        border-top: 1px solid #ddd;
    }

    .main-nav .sf-menu li a {
        /*color: #fff;*/
        padding: 20px;
        line-height: 0px;
        display: block;
        position: relative;
        /*background-color: #08991C;
        text-align: center*/
    }

    .main-nav .sf-menu ul {
        border: none;
    }

    .main-nav .sf-menu ul li {
        width: 100%;
        margin-left: 30px;
        font-size: 13px;
        line-height: 16px;
        font-weight: 400;
        position: relative;
        border: none;
        border-top: 1px solid #e8e8e8;
    }

    .sf-menu ul {
        position: static !important;
        display: none !important;
    }

    .mob-drop ul {
        display: block !important;
    }
}
@media(min-width: 601px) and (max-width: 780px) {
    .top-line .container {
        max-width: 70%;
    }

    .top-line p span {
        display: table;
        margin-right: 20px;
        text-align: left;
    }
}
/*Footer Css*/
.site-footer
{
  background-color:#26272b;
  padding:25px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  z-index: 10;
  position: relative;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0;
  line-height: 38px;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:50px;
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/*Edit Profile Css*/
.profile-form .form-controls{
  height: 45px;
}
.profile-form .btn{
  padding: 12px;
}
/*Border-radious*/
.rounded-circle {
    border-radius: 50%!important;
}
.btn-green {
  background: #10C5A7;
  color: white;
}
.bg-gray{
  background-color: gray !important;
  color: white;
}
.app-view-mainCol {
  min-height: 500px;
}
@media(max-width: 767px){
	.brand{
    width: auto;
    height: auto;
    display: block !important;
	}
}
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    .brand{
      width: auto;
      height: auto;
      display: block !important;
  	}
}
