
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
<!--
        01010111011001010110000101110010011001010101000001101001011110000110010101101100
        01100001011101000110010101100100001011100110001101101111001011100111010101101011
_____________/\/\____________________________/\/\__________________/\/\________________________/\/\_
_/\/\/\/\____________/\/\__/\/\____/\/\/\____/\/\____/\/\/\______/\/\/\/\/\____/\/\/\__________/\/\_
_/\/\__/\/\__/\/\______/\/\/\____/\/\/\/\/\__/\/\________/\/\______/\/\______/\/\/\/\/\____/\/\/\/\_
_/\/\/\/\____/\/\______/\/\/\____/\/\________/\/\____/\/\/\/\______/\/\______/\/\________/\/\__/\/\_
_/\/\________/\/\/\__/\/\__/\/\____/\/\/\/\__/\/\/\__/\/\/\/\/\____/\/\/\______/\/\/\/\____/\/\/\/\_
_/\/\_______________________________________________________________________________________________

         01010111011001010110000101110010011001010101000001101001011110000110010101101100
         01100001011101000110010101100100001011100110001101101111001011100111010101101011

Copyright We Are Pixelated 2011 - 2018

-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="robots" content="notranslate" />
<meta property="fb:app_id" content="1483589161873965" />
<meta property="og:title" content="Movieglu" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.movieglu.com/" />
<meta property="og:image" content="http://www.movieglu.com/assets/graphics/layout/devices-medium1.jpg" />
<meta property="og:description" content="Problem solved: Searching for cinema showtimes made easy"/>
<meta name="description" content="Searching for movie showtimes made easy" />
<title>MovieGlu - Searching for movie showtimes made easy</title>
<link rel="shortcut icon" href="/favicon.ico" />
        <link href="https://www.movieglu.com/assets/library/fa/css/font-awesome.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://www.movieglu.com/assets/library/jquery.magnific-popup/jquery.magnific-popup.css">
        <link href="https://www.movieglu.com/assets/css/main.css?1435923575" rel="stylesheet">
                    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyCITWbhKgoOYFAgYr4M1xtPGDZpspzmGbk"></script>
                <script type="text/javascript" src="https://www.movieglu.com/assets/scripts/jquery-1.10.1.min.js"></script>
        <!--[if IE]>
            <link type="text/css" rel="stylesheet" href="/assets/css/ie.css">
        <![endif]-->
            </head>
        <body>
                    <div class="cookiemsg hide">
                <div class="wrapper">
                    <p>MovieGlu is a search engine for movie theater showtimes. Our TV Guide style grid shows start and end times for every movie, in every cinema nationwide.</p><br />
                    <p>We use cookies to give you the best experience on our website.  By using this website or closing this message, you are agreeing to our use of cookies.  Please see our Privacy Policy for more information.</p>
                    <a href="#" class="cookiemsg__close">&times;</a>
                </div>
            </div>
                <div class="page-wrapper" id="wrap">
        <div class="header-container">
            <header class="wrapper clearfix menu">
                <a href="/" class="mg-logo">MovieGlu</a>
                <button class="btn--mobilemenu" data-toggle="collapse" data-target=".globalnav"><i class="fa fa-bars"></i></button>
                                                                    <div id="headerSocial" style="float:right; margin-top:7px;">
                                        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=1483589161873965&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
        <div class="fb-like" style="" data-href="https://www.facebook.com/movieglu/" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
        <!-- GOOGLE-->
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <div class="g-plusone" data-size="medium" data-annotation="none" data-href="http://www.movieglu.com/"></div>
        <!-- TWITTER -->
        <a href="https://twitter.com/MovieGlu" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @MovieGlu</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
         <!-- PINTEREST -->
        <a href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.movieglu.com%2F&media=http%3A%2F%2Fwww.movieglu.com%2Fassets%2Fgraphics%2Flayout%2Fdevices-medium1.jpg&description=MovieGlu%20-%20Searching%20for%20movie%20showtimes%20made%20easy" data-pin-do="buttonPin" data-pin-config="none" data-pin-color="red"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" /></a>
        <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
                               </div>
                                            <nav class="globalnav collapse" style="clear:right; margin-top:-2px;">
                        <ul>
                            <li class="globalnav__item"><a class="" href="/" alt="Search" >Search</a></li>
                            <li class="globalnav__item"><a class="" href="/now-showing/" alt="Now Showing" >Now Showing</a></li>
                            <li class="globalnav__item"><a class="" href="/coming-soon/" alt="Coming Soon" >Coming Soon</a></li>
                            <li class="globalnav__item globalnav__item--help"><a class="" href="/help/" alt="Help" >Help</a></li>
                            <li class="globalnav__item"><a class="" href="https://developer.movieglu.com/" alt="Developer" >Developer</a></li>
                                                            <li class="globalnav__item globalnav__item--help"><a class="" href="/join/" alt="Join" >Join</a></li>
                                                    </ul>
                    </nav>
                            </header>
        </div>
        <div class="main-container">
            <div class="main wrapper clearfix">
                <section class="content">
                   <script type="text/javascript">
     if (navigator.cookieEnabled)
       document.cookie = "localtime="+ new Date() +";path=/";
   </script><div id="holderAjax">
    </div>
<div id="resultsAjax">
    <div class="homeBody">
        <div class="resultsContainer">
                <div class="searchBox" style="display:block" >
                    <h2 class="h2">Search</h2>
<form id="locationSearch" action="https://www.movieglu.com/search/" method="post">
    <div class="grid grid--search">
        <div class="grid__item grid__item--search palmup--one-half search-item">
            <label class="input__label" for="where">Where <span class="input__label--required">(Required)</span></label>
            <div class="input input--where has-icon">
                <i class="fa fa-map-marker input__icon"></i>
                <input type="text" class="input__field input__field--text input__field--search" id="searchWhere" name="where" 
                placeholder="Search place or postcode" autocomplete="off" value="mumbai">
                <a href="" class="clearInput input__icon input__clearbtn " data-cleartype="where"><i class="right fa fa-times-circle input__clearicon"></i></a>
            </div>
        </div>
        <div class="grid__item grid__item--search palmup--one-half search-item">
            <label class="input__label" for="what">What <span class="input__label--required">(Optional)</span></label>
            <div class="input input--what has-icon">
                <i class="fa fa-film input__icon input__icon--what"></i>
                <input type="text" class="input__field input__field--text input__field--search" id="searchWhat" name="what" placeholder="Search for a movie" autocomplete="off" value="">
                <a href="" class="clearInput input__icon  input__clearbtn " data-cleartype="what"><i class="right fa fa-times-circle input__clearicon"></i></a>
            </div>
        </div>
        <div class="grid__item grid__item--search palmup--one-half search-item">
            <label class="input__label" for="when">When</label>
            <div class="input input--menu input--when has-icon ">
                <i class="fa fa-calendar input__icon input__icon--when"></i>
                <select class="when input__field input__field--menu custom--menu" name="when" placeholder="Today - 4th Dec">
                    <option selected="selected" value="2018-12-04"> Today - 4 Dec</option><option   value="2018-12-05">Wed - 5 Dec</option><option   value="2018-12-06">Thu - 6 Dec</option><option   value="2018-12-07">Fri - 7 Dec</option><option   value="2018-12-08">Sat - 8 Dec</option><option   value="2018-12-09">Sun - 9 Dec</option><option   value="2018-12-10">Mon - 10 Dec</option><option   value="2018-12-11">Tue - 11 Dec</option><option   value="2018-12-12">Wed - 12 Dec</option><option   value="2018-12-13">Thu - 13 Dec</option><option   value="2018-12-14">Fri - 14 Dec</option>                </select>
            </div>
        </div>
        <div class="grid__item grid__item--search palmup--one-half search-item">
            <label class="input__label" for="timeofday">Time</label>
            <div class="input input--menu input--time has-icon">
                <i class="fa fa-clock-o input__icon"></i>
                <select class="time input__field input__field--menu custom--menu" name="timeofday">
                    <option id="nowSelect-1" selected value="1">Morning</option><option id="nowSelect-2"  value="2">Afternoon</option><option id="nowSelect-3"  value="3">Evening</option>                </select>
            </div>
        </div>
        <div class="grid__item grid__item--search search-item--btn">
            <label for="" class="desk-visible">&nbsp;</label>
                        <button onclick="_gaq.push(['_trackEvent', 'Search', 'SearchButtonPressed','null'])" class="btn btn-primary btn-search btn-block search-submit-home  pull-right" type="submit">Search</button>
            <input type="hidden" id="geoLocation" name="geolocation" value="">
            <input type="hidden" name="section" value="search">
            <input type="hidden" name="task" value="mainsearch">
            <input id="searchData" name="data" type="hidden">
            <input type="hidden" name="go_api_key" value="AIzaSyCITWbhKgoOYFAgYr4M1xtPGDZpspzmGbk" ?>
            <input type="hidden" name="region" value="UK">
        </div>
    </div>
    <div class="grid grid--search search-warning">
        <div class="grid__item grid__item--search palm--one-whole search-item">
            <div class="search-warning__text"></div>
        </div>
    </div>
</form>        </div>
    </div>
</div>

<div id="hero-banner">
    <a href="/about/">
    <img src="https://www.movieglu.com/assets/graphics/layout/hero/hero-mg1.png" alt="Movieglu">
    </a>
</div><div class="page">
    <h2 class="h2">Now Showing <a href="https://www.movieglu.com//now-showing/" class="see-all">See all movies</a></h2>
    <div class="shows">
                <div class="show">
            <a href="https://www.movieglu.com/m/ralph-breaks-the-internet"><img class="movie__poster movie__poster--show" src="https://images.movieglu.com/164750/164750h1.jpg" alt="Ralph Breaks the Internet" title="Ralph Breaks the Internet"></a>                <div class="show__details">
                    <h2 class="show__title"><a href="/m/ralph-breaks-the-internet" title="Ralph Breaks the Internet">Ralph Breaks the Internet</a></h2>
                                        <p class="show__releasedate">Release date: 30 Nov 2018</p>
                    <div class="stars">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star-o"></i>
<i class="fa fa-star-o"></i>
</div>
                </div>
            </div>
                <div class="show">
            <a href="/m/fantastic-beasts-the-crimes-of-grindelwald"><img class="movie__poster movie__poster--show" src="https://images.movieglu.com/197406/197406h1.jpg" alt="Fantastic Beasts: The Crimes of Grindelwald" title="Fantastic Beasts: The Crimes of Grindelwald"></a>                <div class="show__details">
                    <h2 class="show__title"><a href="https://www.movieglu.com//m/fantastic-beasts-the-crimes-of-grindelwald" title="Fantastic Beasts: The Crimes of Grindelwald">Fantastic Beasts: The Crimes of Grindelw</a></h2>
                                        <p class="show__releasedate">Release date: 16 Nov 2018</p>
                    <div class="stars">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star-half-o"></i>
<i class="fa fa-star-o"></i>
<i class="fa fa-star-o"></i>
</div>
                </div>
            </div>
                <div class="show">
            <a href="/m/creed-ii"><img class="movie__poster movie__poster--show" src="https://images.movieglu.com/261090/261090h1.jpg" alt="Creed II" title="Creed II"></a>                <div class="show__details">
                    <h2 class="show__title"><a href="https://www.movieglu.com//m/creed-ii" title="Creed II">Creed II</a></h2>
                                        <p class="show__releasedate">Release date: 30 Nov 2018</p>
                    <div class="stars">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star-o"></i>
<i class="fa fa-star-o"></i>
<i class="fa fa-star-o"></i>
</div>
                </div>
            </div>
                <div class="show">
            <a href="/m/bohemian-rhapsody"><img class="movie__poster movie__poster--show" src="https://images.movieglu.com/249928/249928h1.jpg" alt="Bohemian Rhapsody" title="Bohemian Rhapsody"></a>                <div class="show__details">
                    <h2 class="show__title"><a href="https://www.movieglu.com/m/bohemian-rhapsody" title="Bohemian Rhapsody">Bohemian Rhapsody</a></h2>
                                        <p class="show__releasedate">Release date: 24 Oct 2018</p>
                    <div class="stars">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star-half-o"></i>
<i class="fa fa-star-o"></i>
<i class="fa fa-star-o"></i>
</div>
                </div>
            </div>
        </div>
</div><div class="page">
    <h2 class="h2">Coming Soon <a href="https://www.movieglu.com//coming-soon/" class="see-all">See all movies</a></h2>
    <div class="shows shows--comingsoon">
                <div class="show">
            <a href="/m/home-alone"><img class="movie__poster movie__poster--show" src="https://images.movieglu.com/2224/002224h1.jpg" alt="Home Alone" title="Home Alone"></a>                <div class="show__details">
                    <h2 class="show__title"><a href="https://www.movieglu.com//m/home-alone" title="Home Alone">Home Alone</a></h2>
                                        <p class="show__releasedate">Release date: 05 Dec 2018</p>
                    <div class="stars"></div>
                </div>
            </div>
                <div class="show">
            <a href="/m/butch-cassidy-and-the-sundance-kid"><img class="movie__poster movie__poster--show" src="https://images.movieglu.com/10819/010819h1.jpg" alt="Butch Cassidy and the Sundance Kid" title="Butch Cassidy and the Sundance Kid"></a>                <div class="show__details">
                    <h2 class="show__title"><a href="https://www.movieglu.com//m/butch-cassidy-and-the-sundance-kid" title="Butch Cassidy and the Sundance Kid">Butch Cassidy and the Sundance Kid</a></h2>
                                        <p class="show__releasedate">Release date: 07 Dec 2018</p>
                    <div class="stars"></div>
                </div>
            </div>
                <div class="show">
            <a href="/m/tulip-fever"><img class="movie__poster movie__poster--show" src="https://images.movieglu.com/225431/225431h1.jpg" alt="Tulip Fever" title="Tulip Fever"></a>                <div class="show__details">
                    <h2 class="show__title"><a href="/m/tulip-fever" title="Tulip Fever">Tulip Fever</a></h2>
                                        <p class="show__releasedate">Release date: 07 Dec 2018</p>
                    <div class="stars">
<i class="fa fa-star"></i>
<i class="fa fa-star-half-o"></i>
<i class="fa fa-star-o"></i>
<i class="fa fa-star-o"></i>
<i class="fa fa-star-o"></i>
</div>
                </div>
            </div>
                <div class="show">
            <a href="/m/white-boy-rick"><img class="movie__poster movie__poster--show" src="https://images.movieglu.com/245806/245806h1.jpg" alt="White Boy Rick" title="White Boy Rick"></a>                <div class="show__details">
                    <h2 class="show__title"><a href="https://www.movieglu.com//m/white-boy-rick" title="White Boy Rick">White Boy Rick</a></h2>
                                        <p class="show__releasedate">Release date: 07 Dec 2018</p>
                    <div class="stars">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star-o"></i>
<i class="fa fa-star-o"></i>
<i class="fa fa-star-o"></i>
</div>
                </div>
            </div>
        </div>
</div></section>
    <div id="fb-root"></div>
</div>
</div>
</div>


<footer class="site-footer">
    <div class="wrapper">
                    <ul class="social social--footer hlist">
                <li class="social__network social__network--facebook hlist__item">
                    <a class="social__icon social__icon--facebook" href="https://www.facebook.com/movieglu">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <div class="social__btn">
                        <div class="fb-like" data-href="https://www.facebook.com/movieglu" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                    </div>
                </li>
                <li class="social__network social__network--twitter hlist__item">
                    <a class="social__icon social__icon--twitter" href="https://www.twitter.com/movieglu">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <div class="social__btn">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.movieglu.com" data-text="MovieGlu is changing the way you search for cinema showtimes. Try it now." data-via="MovieGlu" data-dnt="true">Tweet</a>
                    </div>
                </li>
                <li class="social__network social__network--googleplus hlist__item">
                    <a class="social__icon social__icon--googleplus" href="https://plus.google.com/b/102861587150771048313/+Movieglushowtimes/posts">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <div class="social__btn">
                        <div class="g-plusone" data-size="medium" data-href="http://www.movieglu.com"></div>
                    </div>
                </li>
            </ul>
             <hr class="footer__separator">
        
       
                    <nav>
                <ul class="site-footer__links">
                    <li><a href="/contact/" alt="Contact" >Contact</a></li>
                    <li><a href="http://movieglu.wordpress.com/"  alt="Blog"  target="_blank">Blog</a></li>
                    <li><a href="http://movieglu.boards.net/"  alt="Forum" target="_blank">Forum</a></li>
                    <li><a href="/about/" alt="About us" >About us</a></li>
                    <li><a href="/press/" alt="Press" >Press</a></li>
                    <li><a href="/terms/" alt="Terms of use" >Terms of use</a></li>                
                    <li><a href="/privacy/" alt="Privacy" >Privacy Policy</a></li>
                </ul>
                <br /><br />
                <ul class="site-footer__links_co">
                <li class="co_selected"><a href="/UK/">United Kingdom</a></li>                </ul>
            </nav>
                <ul class="site-footer__brand hlist">
            <li><a href="/"><img src="https://www.movieglu.com//assets/graphics/layout/mg-icon.png"></a></li>
            <li>&copy;  Movieglu Ltd 2018</li>
        </ul>
        
    </div>
</footer>

    <script src="https://www.movieglu.com/assets/scripts/widgets.min.js"></script>
<script type="text/javascript" src="https://www.movieglu.com/assets/scripts/jquery.dropdown.min.js"></script>
<script type="text/javascript" src="https://www.movieglu.com/assets/scripts/modernizr.custom.63321.js"></script>
<script type="text/javascript" src="https://www.movieglu.com/assets/library/bxslider/jquery.bxslider.js"></script>
<script type="text/javascript" src="https://www.movieglu.com/assets/library/jquery.selectboxit/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://www.movieglu.com/assets/library/jquery.selectboxit/jquery.selectboxit.min.js"></script>
<script type="text/javascript" src="https://www.movieglu.com/assets/library/jquery.geolocation/jquery.geolocation.js"></script>
<script type="text/javascript" src="https://www.movieglu.com/assets/library/bootstrap/transition.js"></script>
<script type="text/javascript" src="https://www.movieglu.com/assets/library/bootstrap/collapse.js"></script>
<script type="text/javascript" src="/assets/library/jquery.magnific-popup/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="https://www.movieglu.com/assets/library/jquery.cookie/jquery.cookie.js"></script>
<!--<link rel="stylesheet" href="/assets/library/jquery.fancybox/jquery.fancybox.css">
<script src="/assets/library/jquery.fancybox/jquery.fancybox.js"></script>-->
<script type="text/javascript" src="https://www.movieglu.com/assets/scripts/main.min.js?1435923575"></script>
    <script type="text/javascript">
    //<![CDATA[
        $(document).ready(function() {
            $( function() {
                
                $( '.dropdownLocation' ).dropdown( {
                    gutter : 5,
                    stack : false,
                    slidingIn : 100
                });

            });
        });
    //]]>
    </script>
            <script type="text/javascript" > 
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-43413459-7']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </body>
</html>
